.parent_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  height: 100vh;
}

.parent_div > div {
  background-color: rgba(20, 25, 36, 0.7);
  padding: 2.5rem 1rem;
  width: 50rem;
  margin: auto;
  border-radius: 1rem;
}

.welcome {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.google_login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 30rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 1rem;
  border: 1px solid #aaa;
  cursor: pointer;
  padding: 0.3rem 0 0.5rem 0;
  /* background-color: #fff; */
  color: rgba(255, 255, 255, 0.9);
  margin: 2rem auto;
}

.google_login img {
  height: 2rem;
  margin-right: 1rem;
}
