.parent_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  height: 100vh;
}

.parent_div > div {
  padding: 2.5rem 2rem;
  margin: auto;
  border-radius: 1rem;
}

.welcome {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 600;
}

.welcome_message {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 3rem;
}

.google_login {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 1rem;
  border: 1px solid #aaa;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: rgba(255, 255, 255, 0.9);
  margin: 2rem auto;
}

.google_login img {
  height: 2rem;
}

.playerContainer {
  height: 40rem;
  background-color: rgba(20, 25, 36, 0.7);
  padding: 2rem;
  border-radius: 1rem;
}

.playerContainer video {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
