.chat_room_container {
  max-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-theme);
  transition: background-color 0.3s ease;
}

.chats_container {
  padding: 1.5rem;
  overflow: auto;
  margin: 1.5rem 0 5rem 0;
}

.chats_container > div {
  margin-bottom: 1.5rem;
}

.display_info {
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--dark-theme);
  transition: background-color 0.3s ease;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.display_name {
  color: #fff;
  font-weight: 600;
}

.display_photo {
  border-radius: 50%;
  width: 4rem;
}

.back_button {
  background-color: var(--dark-theme);
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
  color: #d8572a;
  margin-right: 0.5rem;
  display: none;
}

.light {
  background-color: var(--light-theme);
}

.light .display_name {
  color: rgb(9, 9, 9);
}

@media (max-width: 768px) {
  .chat_room {
    position: absolute;
  }

  .hidden {
    z-index: 0;
  }
  .active {
    z-index: 2;
  }

  .back_button {
    display: block;
  }
}
