.chats_list_container {
  position: relative;
  z-index: 1;
  height: 100vh;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 30%;
  transition: background-color 0.3s ease;
  background-color: red;
}

.chats_list_chats {
  padding: 1rem;
  margin-top: 1.5rem;
  max-height: 100vh;
  overflow-y: auto;
}

.dark {
  background-color: var(--dark-theme);
}

.light {
  background-color: var(--light-theme);
}

@media (max-width: 1680px) {
  .chats_list_container {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .chats_list_container {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .chats_list_container {
    width: 100vw;
    position: absolute;
    z-index: 1;
  }
}
