.chat_room {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  background-color: #232b38;
}

.chat_room_container {
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 7rem auto 10rem;
  background-color: inherit;
}

.chats_container {
  padding: 1.5rem;
  overflow: auto;
}

.chats_container > div {
  margin-bottom: 1.5rem;
}

.display_info {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #232b38;
  width: 100%;
  padding: 1.5rem 0 1.5rem 2rem;
  border-bottom: 1px solid #636363;
}

.display_name {
  color: #fff;
  font-weight: 600;
}

.display_photo {
  border-radius: 50%;
  width: 4rem;
}

@media (max-width: 600px) {
  .chat_room {
    position: absolute;
  }

  .hidden {
    z-index: 0;
  }
  .active {
    z-index: 2;
  }
}
