.chat_list_item_container {
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  gap: 1rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
  cursor: pointer;
  padding: 1rem;
}

.chat_list_item_container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.chat_list_item_container img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.chat_details {
  display: flex;
  flex-direction: column;
}

.last_message {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 50rem;
}

.display_name {
  color: #fff;
}

.light {
  color: rgba(0, 0, 0, 0.7);
}

.light .display_name {
  color: rgb(9, 9, 9);
}

.light:hover {
  background-color: rgba(232, 232, 232, 0.8);
}

@media only screen and (max-width: 1900px) {
  .last_message {
    width: 40rem;
  }
}

@media only screen and (max-width: 1200px) {
  .last_message {
    width: 35rem;
  }
}

@media only screen and (max-width: 768px) {
  .last_message {
    width: 60rem;
  }
}

@media only screen and (max-width: 700px) {
  .last_message {
    width: 50rem;
  }
}

@media only screen and (max-width: 600px) {
  .last_message {
    width: 40rem;
  }
}

@media only screen and (max-width: 500px) {
  .last_message {
    width: 30rem;
  }
}
