.user_input_container {
  width: 90%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: auto;
  gap: 1rem;
}

.user_input {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.user_input input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #dedede;
  font-size: 1.6rem;
}

.user_input button {
  background-color: inherit;
  color: #d8572a;
  border: none;
  cursor: pointer;
}
