.search_input {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  width: 100%;
  background-color: #dedede;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
}

.search_input input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #dedede;
  font-size: 1.6rem;
}

.search_results {
  background-color: #dedede;
  margin-top: -0.4rem;
  border-radius: 0 0 5px 5px;
}
