.profile_menu {
  background-color: #464b54;
  color: rgba(240, 240, 240, 0.8);
  position: absolute;
  top: 5rem;
  right: 0;
  z-index: 2;
  border-radius: 1rem;
  padding: 1rem 0;
  width: 30rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.light {
  background-color: rgb(230, 230, 230);
  color: rgba(30, 30, 30, 0.9);
}

.profile_picture {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.user_details {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid rgba(137, 137, 137, 0.9);
}

.user_details p:nth-child(2) {
  margin: 0.7rem 0;
}

.profile_menu_option p {
  padding: 1rem 2rem;
  cursor: pointer;
}
.profile_menu_option p:hover {
  background-color: rgba(121, 121, 121, 0.9);
}

.light .profile_menu_option p:hover {
  background-color: rgba(210, 210, 210, 0.9);
}
